body {
    background: url("./images/stardust.png");
}

#main-div {
    border: 2px solid black;
    margin-top: 10vh;
    background: url("./images/japancity.gif");
}

#page-title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 6vh;
    color: lightgray;
}

.topic-button {
    margin: 1vh;
}

#submit-div {
    border: 1px solid black;
    background-color: lightgray;
}

.artist-gif {
    margin: 1vh;
    border: 2px solid black;
}

@media screen and (max-width: 600px) {
    #page-title {
        font-size: 4vh;
    }
}